{
    "extends": "airbnb",
    "rules": {
        "indent": [ 1, 4 ],
        "brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
        "quotes": [ 1, "double"],
        "no-unused-vars": 1,
        "no-var": 0,
        "no-shadow": 0,
        "new-cap": 0,
        "comma-dangle": 0,
        "object-curly-spacing": 0,
        "no-unused-expressions": 0,
        "react/no-did-update-set-state": 1,
        "react/sort-comp": 1,
        "prefer-const": 1,
    },
}
